
.applicant-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.applicant-card {
    display: flex;
    min-width: 250px;
    height: 40px;
    flex-grow: 1;
    width: 40%;
    padding: 10px;
    margin: 5px;
    align-items: center;
}
.copy-character-name {
    display:none;
}

@media only screen and (min-width: 768px) {
    .screen-container{
        flex-direction: row;
    }
    .copy-character-name {
        display: initial;
    }
}