
.applicantContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.applicantCard {
    display: flex;
    min-width: 200px;
    height: 40px;
    flex-grow: 1;
    width: 40%;
    padding: 10px;
    margin: 5px;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .screenContainer{
        flex-direction: row;
    }
}