.App {
  text-align: center;
}


.testi p {
  font-size: 20;
  background-color: "red";
  
}

.sideBar {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  padding-left: 10px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
.sideBarLink{
  font-size: 30px;
}


.sideBar .closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sideBarLinkContainer {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
p {
  color: "red";
}
.screenContainer {
  display: flex;
  flex-direction: column;

}


@media only screen and (min-width: 768px) {
  .screenContainer{
      flex-direction: row;
     
  }
  .screenContainer > :first-child {
    margin-right: 2em
  }
}